<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}  
    <p>This is the projects page everybody!!</p>  
</body>
{{> footer}}

</html>